.nav {
    height: 100px;
    margin: 30px 40px;

    #nav-wrapper {

        height: 100px;

        ul {
            display: inline-block;
            width: 30vw;
            padding-top: 30px;
            list-style: none;
            color: $primary-color;
        }

    }
}